.preloader {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130vh;
  background: #000;
  z-index: 9999;
  clip-path: ellipse(120% 40% at 50% 100%); /* curved mask */
  pointer-events: all;
}
